body {
  background: rgb(228, 228, 228);
}

.form-title {
  color: #B32025;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #4a0d0d, #b00d0d);
  padding: 15px;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 0.5rem;
}


.form-container {
  padding: 30px;
  background: white;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0, 10px, 25px, rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  border-color: black;
}

label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(214, 214, 21);
}

.btn {
  padding: 10px 42px;
  font-weight: 600;
  border-radius: 10px;
  font-size: 16px;
}

.footer-logo {
  height: 100px;
  
}

.footer {
  background: linear-gradient(to right, #4a0d0d, #b00d0d);
  color: white;
  padding: 40px 20px;
  gap: 10px;
}