body {
  background: #e9edf2;
}

.navbar {
  background: #a10000;
  position: sticky;
  top: 0;
}

.navbar-logo img {
  height: 40px;
}

.form-card {
  max-width: 900px;
  margin: 40px auto;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #fff;
  padding: 25px;
}

.form-title {
  text-align: center;
  color: #a10000;
  font-weight: bolder;
  margin-top: 20px;
}

.form-label{
  font-weight: bold;
  font-size: 14px;
}

.form-control {
  border: 1px solid #c89c00;
}

.ruler {
  border-bottom: 2px solid #a10000;
  margin: 15px 0px;
}

.btn-register {
  background: linear-gradient(#b30000, #6a0000);
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.footer {
  background: linear-gradient(to right, #600000, #d00000);
  color: white;
}

.footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.footer-logo img {
  height: 50px;
}

.footer p{
  font-size: 14px;
}

