body {
  background: linear-gradient(135deg, rgb(188, 231, 246), rgb(126, 216, 246), #94b2c6);
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  background: #3765ab;
  padding: 15px;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
}

.header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
}

.photo-box {
  width: 120px;
  height: 150px;
  border: 1px dashed #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: black;
  margin: auto;
}

.form-container {
  padding: 30px;
  background: rgb(228, 237, 243);
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 0, 10px, 25px, rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2),
    inset -2px -2px 6px rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-in-out;
}

.btn {
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 6px #0a58ca;
  transition: all 0.2s ease-in-out;
}